
/* percentage relative unit  */
#box1{
    width: 100px;
    height: 100px;
    background-color: red;
}
#box2{
    width: 50px;
    height: 30%;
    background-color: blue;
    margin-left: 10%;
}

 /* relative unit */
 #box3{
    width: 100px;
    height: 100px;
    background-color: rgb(218, 69, 208);
    font-size: 10px;

}
#box4{
    width: 50%;
    /* height: 50%; */
    background-color: rgb(64, 195, 224);
    margin-left: 10%;
    margin-top: 10%;
    font-size: 2em;
    /* font-size: 2rem; */
    /* height: 50vh; */
}

/* positions propertys */
.positionss{
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    border: 2px solid black;
    display: inline-block;
}
/* static */
#box5{
    position: static;
    background-color: red;
}
/* absolute */
#box6{
    position: relative;
    top: 20px;
    left: 20px;
    background-color: blue;

}
/* Absolute */
#box7{
    position: absolute;
    top: 405px;
    left: 260px;
    background-color: yellow;
}
/* fixed */
#box8{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
    text-align: center;
    background-color: pink;
    columns: 100wh;
    color: black;
}
/* position sticky */
#box9{
   position: sticky; 
   top: 0px;
}
/* z-index */

.index{
    width: 100px;
    height: 100px;
}
#index1{
    background-color: red;
    z-index: 0;
    position: absolute;
    left: 20px;
}
#index2{
    background-color: purple;
    z-index:-1 ;
    position: absolute;
    left: 40px;
}
#index3{
    background-color:green;
    z-index: 2;
    position: absolute;
    left: 60px;
    
}

/* background image */
.imgb{
    width: 100px;
    height: 100px;
    display: inline-block;
    position: static;
}
#imgbox1{
    background-color: red;
}