

 /* color property */
h1{
    color: red;
}
h2{
    color: green;
}
h3{
    color: purple;
}

/* background color property */
body{
    /* background-color: aqua; */

    /* background-color by using rgb(red,green, blue)color system*/
    /* background-color: rgb(255,0,0); red */
    /* background-color: rgb(0,255,0); green*/
    /* background-color: rgb(0,0,255);blue */

    /* backgroun-color by using hex(hexadecimal) color system */
    /* background-color: #ff0000; for red color */
    /* background-color: #00ff00; for green color */
     background-color: #89899c; 
     
     /* we can use color palates for color idea jisse hame identefy kar paenge kis color ke sath konsa color hamari website pr accha lagega  */
} 

/* text-align property */

div h1{
    text-align: center; 
    /* text-align: left;
    text-align: right; */
}
div #align{
    text-align: center; 
    /* text-align: left;
    text-align: right; */
}

/* text-decoration */
div  #udrline{
    text-decoration: underline;
    /* text-decoration:  red underline; */
    /* text-decoration: underline dotted red; */
    /* text-decoration: green wavy underline; */
    /* text-decoration: underline overline #ff3028; */
    /* text-decoration: solid underline; */
    /* text-decoration: red double underline; */
    /* text-decoration: dashed purple underline; */

}
div #overline{
    /* text-decoration: overline; */
    text-decoration: red overline;
}
div #linethrough{
    text-decoration: line-through;
}
div a{
    text-decoration: none;
}





