.divborder{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    border: 2px solid brown; /*Shorhand*/
    /* border-radius: 50px; */
    /* border-radius: 50%; */
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    /* padding: 25px 25px 25px 25px; */
    padding: 25px;
    margin: 25px;

}

/* display properties */
#disinline{
    background-color: red;
    display: inline; 
}
#disblock{
    display: block;
}
.inblock{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    /* display: inline;  ham is propertie ka use nhi kar skte kyuki inline use karne pr baki other properties jo hammne jinhai wo hat jati he iske replace me ham inline-block ka use karnge*/
    display: inline-block;
}
#disinblock{
    display: none;
}
#disinblock1{
    visibility: hidden; 
}
